<<<<<<< HEAD
<<<<<<< HEAD
<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Sample App | Home</title>
=======
<!DOCTYPE html>
<html>
  <head>
    <title>Sample App | Home</title>
>>>>>>> 9e5882bc49880e6586ce52f176425f79ab3914ca
  </head>
  <body>
    <h1>Sample App</h1>
    <p>
<<<<<<< HEAD
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
  </body>
</html>
=======
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
>>>>>>> 0a347d654f484463f890cb6414f3ee0de01d0be7
=======
      This is ...
    </p>
  </body>
</html>
>>>>>>> 9e5882bc49880e6586ce52f176425f79ab3914ca
